//$color_gray_200: #e9ecef;
//$color_gray_300: #dee2e6;
//$color_gray_400: #c9c9c9;
//$color_gray_500: #979797;
//$color_gray_600: #6c757d;
//$color_gray_700: #495057;
//$color_gray_800: #343a40;
//$color_gray_900: #1e1e1e;
//$color_red: #e24147;

$color_black: #000;
$color_white: #fff;
$color_gray_100: #f4f4f4;
$color_gray_400: #c9c9c9;
$color_gray_500: #979797;
$color_gray_800: #353535;
$color_gray_900: #1e1e1e;
$primary: #518ade;
$primary_active: #376bb7;
$warning: #ffb100;
$success: #71cd38;
$error: #e24147;

$theme_color_1: #7109aa;
$theme_color_2: #5f2580;
$theme_color_3: #48036f;
$theme_color_4: #9f3ed5;
$theme_color_5: #ad66d5;
