/* post */
/***********************************************/
.post {
  $self: &;

  padding: 0 20px;

  @include res(md) {
    grid-column: 1 / 2 ;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 36px;
    line-height: 1.3;
  }
}
